.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.block{
    height: 120px;
    border: solid 1px #3f37c9;
    width: 33.05%;
    text-align: center;
    line-height: 1;
    font-size: 7em;
    color: hotpink;
}

.block:hover, .block:focus{
    cursor: pointer;
}
.block:hover{
    background-color: #000;
}
.container{
    width: 520px;
    margin: 1.2% auto;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 2px 2px 20px 4px #000;
    padding: 10px 20px;
    padding-top: 0;
    box-sizing: border-box;
    border: solid 3px #000;
}

.game-title{
    text-align: center;
    margin: auto;
    font-size: 2.6em;
    color: #FFF;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-family: 'Saira Stencil One', cursive;
}
.mid-lett{
    color: #ffee32;
}

.row-final::after{
    content: '';
    clear: both;
    display: block;
    
}
.border-lett{
    font-size: 20rem;
    z-index: -1;
    font-weight: bolder;
    font-family: 'Righteous', cursive;
    text-shadow: 1px 1px 9px #555;
}

.right-bod{
/*    margin-top: 25%;*/
    font-size: 10rem;
     position: relative;
    top: 140px;
    left: -6%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    
}
.left-bod{
    position: relative;
    left: -5.5%;
    top: -120px;
    color: rgba(0, 0, 0, 1);
}
.left-bod::after{
    content: "";
    clear: both;
    display: block;
}
#box1, #box4, #box7{
    border-left: none;
}
#box3, #box6, #box9{
    border-right: none;
}
#box1, #box2, #box3{
    border-top: none;
}
#box7, #box8, #box9{
    border-bottom: none;
}

body{
    background-color: rgba(0, 21, 36, 0.98);
/*    background: radial-gradient(#fff, rgba(0, 21, 36, 0.98)70%);*/
}
.btn {
    padding: 0.5em;
    font-size: 1em;
    box-sizing: border-box;
    
}
.stitle{
    font-size: 0.7em;
    font-weight: 100;
    color: crimson; 
}
.form{
    font-size: 1.5em;
}
#details-block{
    position: relative;
    top: 8em;
    background-color: rgba(255, 213, 0, 1);
    box-shadow: 2px 2px 20px 8px #000;
    padding: 10px;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Patua One', cursive;
    position: relative;
    left: -18px;
    display: none;
}
#win-block{
    position: relative;
    top: 8em;
    background-color: brown;
    box-shadow: 2px 2px 20px 8px #000;
    padding: 10px;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Patua One', cursive;
    position: relative;
    left: -18px;
    display: none;
}
#player-won, #won-moves {
    font-size: 2em;
    text-align: center;
}
#won-moves #won-moves-value{
    
    font-size: 1em;
}
#win-block .game-title{
    color: #000;
    letter-spacing: 0.2em;
}
#player-name, #won-moves-value{
    color: #FFF;
}
.text{
    padding: 0.8em;
    padding-left: 0.5em;
    margin: 0;
    text-transform: uppercase;
    color: #777;
    border: none;
    margin-bottom: 0.8em;
    box-sizing: border-box;
    font-size: 0.5em;
}
.labels{
    margin: 0;
    width: 64.7%;
/*    background-color: white;*/
    display: block;
    margin-top: 5px;
}
.text:focus{
    outline: solid 2px #777;
}
.submit {
    font-size: 0.8em;
    display: block;
    font-family: 'Patua One', cursive;
    padding: 0.4em;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    font-weight: 100;
    letter-spacing: 2px;
    border: none;
    box-shadow: 0px 2px 5px #000;
}
.submit:hover{
    cursor: pointer;
    border: solid 2px #000;
    background-color: rgba(0, 0, 0, 0.9);
}
.btn{
    background-color: rgba(255, 213, 0, 1);
    border: none;
    box-shadow: 0px 3px 10px 5px #000;
    border: solid 2px #000;
    font-family: 'Patua One', cursive;
    letter-spacing: 2px;
    font-size: 1.3em;
    display: block;
    margin-left: 35%;
}
.button-bar{
    margin: 1em auto 0.2em auto;
}
.input-details{
    margin-left: 24%;
}
.btn:hover{
    cursor:pointer;
    background-color: rgba(255, 213, 0, 0.8); 
}
.reset-game{
    display: none;
}
#moves, #playername {
    margin: 0;
    text-align: center;
    font-family: 'Suez One', serif;
    font-size: 1.6em;
    position: relative;
    top: -0.5em;
    color: #FFF;
    display: none;
}
#moves-value, #player1name, #player2name {
    color: #ffee32;
    font-size: 0.7em;
}
moves-value{
    font-size: 1em;
}